<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		<connectionStrings>
			<add name="MyConnectionString" connectionString="data source=; database=Manager; integrated security = SSPI"/>"
		</connectionStrings>
    </startup>
</configuration>